
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-content{
    display: flex;
    margin: 0 2em;
    
}
.ul-content li{
    padding: 0 2em;
    list-style-type: none;
    font-size: 1em;
    font-weight: bold ;
}
.btn-message{
    padding: 1em 3em;
    border-radius: 30px;
    align-items: center;
    background-color: red;
    color: white;
    border: solid 2px white;
    cursor: pointer;
}
.btn-message:hover{
    background-color: white;
    color: black;
}
.button-list ul li{
    display: flex;
    align-items: center;
}
.btn:hover{
    background-color: #6C1518;
}
.image-content img{
width: 50%;
position: relative;
height: 700px

}

.img-bg1{
background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35,35,35,.5)), url("../images/icons/writting.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
height: 500px;

}
.image-bg2{
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35,35,35,.5)), url("../images/icons/book.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
height: 500px;
}
.image-bg3{
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35,35,35,.5)), url("../images/icons/corona.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    height: 500px;
}
.text-content {
    position: absolute;
    top: 50%; 
    z-index: 100;
      left: 50%; 
    

     transform: translateX(0%); 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content h5{
    font-size: 4em;
}
.text-content p{
    font-size: 1em;
}
.writting-image{
    position: relative;
}
.writting-content{
    position: absolute;
    top: 50%; 
    z-index: 100;
      left: 50%; 
    

     transform: translateX(0%); 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-content{
background-color: #7C2225;
display: flex;
justify-content: center;
align-items: center;
padding: 2em 0;
}
.paragraph p{
    color: white;
    font-size: 3rem;
}
.option{
    padding: 1em 3em;
    border-radius: 30px;
    margin-left: 4em;
    background-color:#7C2225;
    color: white;
}
.option:hover{
    background-color: white;
    color: black;
}

/*icons-content*/

.icons-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 4em;
    
}
.items-content{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.flex-content{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.flex-content p{
    width: 50%;
}
.icon-1{
    display: flex;
    justify-content:right;
    margin-right: 3em;
}
.heading-paragraph h2{
    display: flex;
    justify-content: right;
    margin-right: 3em;
    font-size: 1em;

}
.item2{
    margin-top: 20%;
}


/*bg*/
.attachment{
    background:linear-gradient(rgba(196, 32, 0, 0.7), rgba(195,107,120,.7)),url("../images/icons/count.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    height: 500px;
    height: 50vh;
    width: 100vw; 
    margin-top: 10%;
    background-attachment: fixed;
    
    
}
.programmes-content{
    display: flex;
    justify-content: center;
}
.programmes{
    text-align: center;
    border: solid 2px black;
    margin: 5em 3em;
    padding: 1.5em;
    /* box-shadow: 5px 7px 8px white; */
    background-color: white;
    border: none;
}
.programmes p{
    font-size: 1.5rem;
}
.sub-title{
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 2em;
    font-weight: 300;
}
.button-part{
    display: flex; 
    justify-content: center;
    background-color: #AC2126;
    flex-wrap:wrap;
    padding: 3em 0;
    
}
.btn-message{
    margin: 0 3em;
    
}
.combine{
    background:linear-gradient(rgba(35, 35, 35, 0.9), rgba(35,35,35,.9)), url("../images/icons/together.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    height: 400px;
    height: 60vh;
     width: 100vw;  
    
    background-attachment: fixed;
}
.about-content{
    padding: 1em 2em;
    border-radius: 30px;
     margin: 1em 1em;
    background-color:transparent;
    color:white;
    border: solid 2px white;



}
.about-content:hover{
    background-color: red;
    color: black;
}
.about-title{
    align-items: center;
    justify-content: center;
    color: white;
     padding-top: 2em; 
    text-align: center;
    font-size: 3rem;
}
.explanation{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.about-message{
    padding-top: 3em;
}
.about-message p{
text-align: center;
width: 50%;
margin: 0 auto;
color: white;
line-height: 3em;

}
.hide{
    display: none;
}
.logos-notation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}
.svg-image{
    filter: brightness(0) invert(1);
    text-align: center;
}
.logo-bg{
    color: white;
    text-align: center;
}
.logo-text{
    color: white;
text-align: center;
}
.logo-text p{
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
}
.logo-part{
    background-color: #232323;
    padding: 3em 0;
}
.cards{
    display: flex;
}
.section-card{
    background-color: #EFEFEF;
}
.cards div{
    margin: 3em 2em;
}
.heading-card{
    text-align: center;
}
.heading-card h2{
    font-size: 3rem;
    font-weight: 300;
}
.heading-card p{
    font-size: 1.5rem;
}
.btn-card{
    border-radius: 1000px;
    width: 70%;
    padding: 1em 0;
    background-color: #AC2126;
    color: #fff;
    border: none;
    display: none;
    
}
.image-card{
    position: relative;
    width: 100%;
    height: 100%;
}
.btn-position{
    width: 100%;
    height: 100%;
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 0;
    left: 0;
}
.hover-card{
    transition: all 5s ease;
}
 .hover-card:hover .btn-card{
    display: block;
    
}

.hover-card:hover img{
    opacity: .5;
    
}
.last-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-read{
    padding: 0.7em 3em;
    border-radius:10px;
}
.section-last-part{
    background-color: #fff;
    padding: 1em 0;
}
.last-headin h3{
text-align: center;
font-size: .6rem;
}
.footer-flex{
    display: flex;
    
}
.footer1 ul li{
    list-style-type: none;
    color: #fff;
    
}
.footer1{
    margin-top: 3em;
}
footer{
    background-color: #2E2E2E;
}
.map{
    margin-top: 3em;
    margin-left: 2em;
}
